body {
	background-color: #313131;
}


a {
	text-shadow:none;
	text-decoration:none;
}

.link {
	color: #85d3dc;
}

.link:hover {
	color:#d55b71;
	text-decoration: underline;
}

#backButton {
	color: #85d3dc;
}

#backButton:hover {
	color:#d55b71;
	text-decoration: underline;
}


.content {
	margin-left:20px;
	margin-top:20px;
	margin-right:20px;
	margin-bottom:20px;
	font-family: Arial, helvetica, sans-serif;
	color: #fffff7;
	font-size: 70px;
}

#playlistContainer {
	display:flex;
	max-width:1500px;
	flex-direction:row;
	flex-wrap: wrap;
}

.iconContainer {
	display:flex;
	width:100%;
	margin-top:10px;
}

.serviceIcon {
	height:75px;
	margin-right:10px;
	border-radius:15px;
}

/* #c1, #c2, #c3 {
	display:flex;
	flex-direction:column;
	flex-wrap: wrap;
	justify-content:flex-start;
	align-content:left;
	flex-grow:1;
	width:100%;
} */

.playlist {
	margin:10px;
	background-color:#fffff7;
	padding:10px;
	border-radius:20px;
	width:40%;
	max-width:300px;
	min-width:160px;
}

.playlistPreview {
	width:100%;
	border-radius:20px;
	flex-grow:0;
}

.playlistTitle {
	font-family: Arial, helvetica, sans-serif;
	color: #323232;
	font-size: 30px;
	font-weight:bold;
	margin:10px;
}

.playlistDescription {
	font-family: Arial, helvetica, sans-serif;
	color: #323232;
	font-size: 20px;
	margin:10px;
}