body {
	background-color: #1a1a1a;
}


a {
	text-shadow:none;
	text-decoration:none;
}

.link {
	color: #ff6666;
}

.link:hover {
	color:#3baae0;
	text-decoration: underline;
}

#backButton {
	color: #3bffe0;
}

#backButton:hover {
	color:#ff6666;
	text-decoration: underline;
}


.content {
	margin-left:20px;
	margin-top:20px;
	margin-right:20px;
	margin-bottom:20px;
	font-family: Arial, helvetica, sans-serif;
	color: #e6e6e6;
	font-size: 70px;
}

#playlistContainer {
	display:flex;
	max-width:1000px;
}

.iconContainer {
	display:flex;
	width:100%;
	margin-top:10px;
}

.serviceIcon {
	height:75px;
	margin-right:10px;
	border-radius:15px;
}

#c1, #c2, #c3 {
	display:flex;
	flex-direction:column;
	flex-wrap: wrap;
	justify-content:flex-start;
	align-content:left;
	flex-grow:1;
	width:100%;
}

.playlist {
	margin:10px;
	background-color:#e6e6e6;
	padding:10px;
	border-radius:20px;
}

.playlistPreview {
	width:100%;
	border-radius:20px;
	flex-grow:0;
}

.playlistTitle {
	font-family: Arial, helvetica, sans-serif;
	color: #1a1a1a;
	font-size: 30px;
	font-weight:bold;
	margin:10px;
}

.playlistDescription {
	font-family: Arial, helvetica, sans-serif;
	color: #1a1a1a;
	font-size: 20px;
	margin:10px;
}